body {
   margin: 0px;
   font: 14px Verdana, Arial, Tahoma, Helvetica, sans-serif;
   color: black;
   background-color: white;
   font-weight : normal;
   vertical-align: baseline;
}

span {
   margin: 0px;
}

a {
  line-height: 25px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  color: #006633;
  border: 0px;
}

a:hover { text-decoration: none; color: blue }

.zero {
    width: 1px;
    height: 1px;
    border: 1px;
}

.hidden {
   display: none;
}

div {
   width: 1200px;
}

div.rf_title {
   position: relative;
   margin-top: 7px;
   margin-left: 0px;
}

div.rf_sub {
   position: relative;
   margin-left: 0px;
}

.topmenu {
   width: 1024px;
   height: 24px;
   line-height: 24px;
   vertical-align: middle;
}

.topmenuitem {
   color: white;
   display: table-cell;
   position: relative;
   background-color: #7A7A7F;
   white-space: nowrap;
   border-left: 1px solid white;
   border-right: 1px solid white;
   height: 25px;
   text-align: center;
}

.bottommenu {
   width: 1024px;
   height: 24px;
   line-height: 24px;
   vertical-align: middle;
}

.bottommenuitem {
   display: table-cell;
   position: relative;
   background-color: white;
   white-space: nowrap;
   border: 1px solid #C07FBA;
   height: 25px;
   text-align: center;
}

p {
   vertical-align: text-bottom;
}

div.contenttab {
   margin: 10px 10px 10px 10px;
}

input, select, textarea {
   font-size: 14px;
   text-decoration: none;
   border: 1px solid #707FBA;
   color: black;
   height: 24px;
   vertical-align: top;
   margin: 2px 2px 2px 2px;
}

table {
   font-size: 14px;
   border: 0px;
   padding: 3px 3px 3px 3px;
   width: 100%;
}

td {
   color: #000000;
   font-weight: normal;
   padding: 3px 3px 3px 3px;
}

.menu {
   color: white;
   font-size: 14px;
   font-weight: normal;
   text-decoration: none;
}
 
.menu_hl {
   color: cyan;
   font-size: 14px;
   font-weight: bold;
   text-decoration: underline;
}
 
.menus_d
{
   color:#3F1153;
   font-size: 13px;
   font-weight: bold;
}

.menus_d:Hover { color:#C30B06; }

.myButton {
   background-color: #707FBA;
   border-bottom: 3px solid #303f9f;
   border-left: 3px solid #cfcfff;
   border-right: 3px solid #303f9f;
   border-top: 3px solid #cfcfff;
   color: white;
   font-size: 13px;
   width: 100%;
   height: 30px;
}

.myButtonDown {
   background-color: #707FBA;
   border-top: 3px solid #303f9f;
   border-right: 3px solid #cfcfff;
   border-left: 3px solid #303f9f;
   border-bottom: 3px solid #cfcfff;
   color: white;
   font-size: 13px;
   width: 100%;
   height: 30px;
}


